<div class="container target">
    <div class="row">
    	<!---  style="background-image: url(<%= '/profile_pics/' + @profile.pic + '/cover.jpg' %>);" --->
        <div class="col-sm-2">
        	<br><br>
            <h1 class=""><%= @profile.username %></h1>
            <% if current_user.id == @profile.user_id%>
            <%= button_to 'Editar', edit_profile_path(@profile), :method=>"get", :class=> "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
            <% end%>
        </div>
        <div class="col-sm-1">
        	<br><br>
        	<%= image_tag "/profile_pics/" + @profile.pic + "/picture.gif", :style=>"width: 100px; height:100px;" %>
        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false"><%= @profile.user_id %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Username: </strong></span><%= @profile.username %></li>
                <li class="list-group-item text-muted" contenteditable="false"><%= @profile.description %></li>
            </ul>
        </div>
        <div class="col-sm-7">
        <% Post.where(user_id: @profile.user_id).order(:status, :created_at).each do |article| %>
        	<div class="row">
			    <div class="col-4" style= "text-align: center;">
			      <%= article.thumbnail %>
			    </div>
			    <div class="col-8">
			      <div class="container">
			        <div class="row">
			          <div class="col">
			            <h2><%= link_to article.title, article %></h2>
			          </div>
			        </div>
			        <div class="row">
			          <div class="col">
			            <%= strip_tags(article.content)[0..300] + " ..." %>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			  <hr>
        <%end%>
    	</div>
	</div>
</div>
