
<!-- Probando el nuevo html+css+bootstrap-->

<head>
  <style type="text/css">
    .form-control {
  width: 100%;
  height: 30px;
  font-family: medium Verdana,sans-serif;
  font: medium;
  resize: none;
  border-radius: 18px;
  border: 1px solid #428bca;
  padding-left: 15px;
  padding-top: 3px;
    }
  </style>
</head>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="login-heading mb-4" style="text-align: center;">Bienvenido de regreso</h3>
                <form>
                  <%= simple_form_for(resource, as: resource_name, :html => {class:"form-label-group"}, url: session_path(resource_name)) do |f| %>
                      <div class="row">
                        <div class="col-md-2"><%= f.label :email, "Email" %></div>
                        <div class="col-md-8"><%= f.text_area :email,
                                    required: true,
                                    autofocus: true,
                                    label: false,
                                    :id => 'inputEmail',
                                    :type => 'email',
                                    :size => '50x1',
                                    :class => 'finputemail' %></div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-2"><%= f.label :password, "Contraseña" %></div>
                        <div class="col-md-8">
                          <%= f.input :password,
                          :class => 'form-control',
                          :id => 'exampleInputPassword',
                          required: true,
                          label: false,
                          autofocus: false%></div>
                      </div>
                  <% end %>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Ingresar</button>
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
