<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>


  </head>

  <body>


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%= @post.title.html_safe %></h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#"><%= @post.user_id %> post user id placehoder</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on <%= @post.created_at %></p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

          <hr>

          <!-- Post Content -->
          <%= @post.content.html_safe %>



        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">


          <!-- Wiget herramientas de navegación -->
          <div class="card my-4">
            <h5 class="card-header">Herramientas de navegación</h5>
            <div class="card-body">
              <%= link_to "Volver", :back %> <br>
              <%= link_to "Ir al inicio", root_path %>
            </div>
          </div>

          <!-- Widget de edición -->
          <div class="card my-4">
            <h5 class="card-header">Herramientas de edición</h5>
            <div class="card-body">
              <% if user_signed_in? && current_user.id === @post.user_id %>
                <%= link_to "Editar post", edit_post_path(@post) %>

                <!-- No creo que deberíamos dejar que la gente borre sus post -->
                <!-- link_to "Borrar post", post_path(@post), method: :delete, data: {confirm: "Estás seguro de borrar?"} -->
              <% else %>
                Solo el creador del post puede editarlo
              <% end %>

              <br> El estado actual del post es <b><%= @post.status %></b>

            </div>
          </div>

          <!-- Widget de moderación -->
          <div class="card my-4">
            <h5 class="card-header">Herramientas de moderación</h5>
            <div class="card-body">
              <% if user_signed_in? %>
                <% if current_user.has_role? :admin  %>
                  <%= button_to 'Marcar como aceptado', markstatus_path(:id => @post.id, :newstatus => 'accepted'), method: :post %>
                  <%= button_to 'Marcar como rechazado', markstatus_path(:id => @post.id, :newstatus => 'rejected'), method: :post %>
                  <%= button_to 'Marcar como pendiente', markstatus_path(:id => @post.id, :newstatus => 'pending'), method: :post %>

                <% else %>
                  Solo los moderadores tienen acceso a estas herramientas
                <% end %>

              <% else %>
                Solo los moderadores tienen acceso a estas herramientas

              <% end %>

            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </body>

</html>

<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">DOCTOR</h1>
         
          <button type="button" class="btn btn-warning">Return to Profile</button>  <button type="button" class="btn btn-success">Access Calendar</button>
<br>
        </div>
      <div class="col-sm-2"><a href="/users" class="pull-sright"><img title="profile image" class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBG685vI07-3MsuqJxjCfzIabfFJJG-8yM-ppvjjNpD5QNtWNE4A"></a>

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name: </strong></span> Joaquin Buenaobra</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Medical License Number: </strong></span> MNL09-F1SK5</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Address: </strong></span> Ermita, Manila</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span> "jwbuenaobra@hotmail.com"</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Birthday: </strong></span>3 May 1981</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age: </strong></span>37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Sex: </strong></span>M</li>
                <li class="list-group-item text-muted" contenteditable="false">Contact Details</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Telephone Number: </strong></span>       514-1132</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Cellphone Number: </strong></span>09159092245</li>
                
            </ul>
           <div class="panel panel-default">
             
             <div class="panel-heading">Reminders:

                </div>
                <div class="panel-body"><button type="button" class="btn btn-info">Patient Compliance<br><button type="button" class="btn btn-secondary">Approve Uploads
                

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">NOTIFICATIONS <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body"><a href="http://bootply.com" class="">~Non-compliance to certain checklist items~</a>

                </div>
            </div>
          
            <ul class="list-group">
                <li class="list-group-item text-muted">PATIENT LIBRARY<i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class=""><a href="https://bootsnipp.com/user/snippets/Gavb2">Justine Tan</a></strong></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class=""><a href="#">Chris Poernomo</a></strong></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class=""><a href="#">Warren Monsod</a></strong></span> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class=""><a href="#">Zysa del Mundo</a></strong></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class=""><button type="button" class="btn btn-info">Schedule Patient</strong></span></li>
            </ul>
            
            <div class="panel panel-default">
                <div class="panel-heading">UPLOADED MEDICAL-RELATED DOCUMENTS</div>
                <div class="panel-body">  <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i> 
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <form>
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Update your profile credentials here:</b></div>
                <div class="panel-body">
                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                <div class="col-xs-3">
                <input type="text" class="form-control input-sm" name="licenseNumber" id="licenseNumber"  placeholder="License Number"/>
        </div>
        <div class="col-xs-3">
        <input type="text"  class="form-control input-sm" name="givenName" id="givenName"  placeholder="Given Name"/>
        </div>
        <div class="col-xs-3">
        <input type="text" class="form-control input-sm" name="middleName" id="middleName"  placeholder="Middle Name"/>
                </div>
                <div class="col-xs-3">
                <input type="text" class="form-control input-sm" name="lastName" id="lastName"  placeholder="Last Name"/>                </div>
        <div class="col-xs-9">
        <input type="text" class="form-control input-sm" name="homeAddress" id="homeAddress"  placeholder="Home Address"/>
        </div>
        <div class="col-xs-3">
        <input type="email" class="form-control input-sm" name="email" id="email"  placeholder="Email Address"/>
        </div>
        <div class="col-xs-3">
        <input type="tel" class="form-control input-sm" name="telNumber" id="telNumber"  placeholder="Tel. No."/>
        </div>
        <div class="col-xs-3">
        <input type="text" class="form-control input-sm" name="cellNumber" id="cellNumber"  placeholder="Cellphone Number"/>
                </div>
        <div class="col-xs-3">
        <input type="number" class="form-control input-sm" name="age" id="age" min=24  placeholder="Age"/>
        </div>
        <div class="col-xs-3">
                  <b> Birthday:</b>
                <input type="date" class="form-control input-sm" name="birthday" id="birthday"  placeholder="Birthday"/>
                </div>
                <p align="right"></p>
                <b>    Gender:</b><br>
                <div class="col-xs-1">
                <input type="radio" class="form-control" name="sex" value="male" id="sex" checked/><center><i>Male</i></center>
                </div>
                <div class="col-xs-1">
                <input type="radio" class="form-control" name="sex" value="female" id="sex"/><center><i>Female</i></center>
                </div>
            </div>
            <center>
                <button type="button" class="btn btn-primary">      Update</button>   <button type="button" class="btn btn-secondary">Clear</button>
            </form>
</div>
</body>
</html>