<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <!-- %= csrf_meta_tags % -->
    <!-- %= csp_meta_tag %> -->

    <!-- %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' % -->
    <!-- %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' % -->

    <% csrf_meta_tags %>
    <% csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <!-- Template de post show -->
    <link href="app/assets/stylesheets/blog-post.css" >

    <!-- Import de clases para login screen-->
    <link href="app/assets/stylesheets/loginscreen.css" >

    <!-- Import relacionados al sidebarmenu -->
    <link href="app/assets/stylesheets/sidebar_style.css" >

    <!-- Import de clases custom, debe estar al final para sobreescribir cualquier cosa-->
    <link href="app/assets/stylesheets/customclasses.css" >



  </head>

  <body style="margin-top: -65px">
    <!-- Para administrar las alertas. Ahora no son alerts -->

<!-- HEADER -->

<header class="header_area" id="header">
  <nav class="navbar navbar-expand-lg" style="background: #131516; height: 65px">
    <a class="navbar-brand" href=<%= root_path %>>
      <%= image_tag("/logo.png", style: 'height:60;width: 60px;') %>
      </a>
      <% if user_signed_in? %>
        <p style="color: white"> Estas conectado como: <%= current_user.email %>
         - <%= link_to "Sign Out", destroy_user_session_path, :method=>'delete'%></p>
      <% else %>
        <div class="dorne-signin-btn">
            <a href=<%= new_user_session_path %>>Log in</a>
        </div>
        <div class="dorne-signin-btn">
            <a href=<%= new_user_registration_path %>>Sign up</a>
        </div>
      <% end %>
  </nav>
  </header>

  <% flash.each do |name, msg| %>
    <div class='alert alert-info'>
      <%= msg %>
    </div>
  <% end %>

<!-- END HEADER -->

    <%= yield %>
  </body>
</html>
