
<!-- Probando el nuevo html+css+bootstrap-->

<head>
  <style type="text/css">
    .form-control {
  width: 100%;
  height: 30px;
  font-family: medium Verdana,sans-serif;
  font: medium;
  resize: none;
  border-radius: 18px;
  border: 1px solid #428bca;
  padding-left: 15px;
  padding-top: 3px;
    }

    .bg-image {
      background-image: url('https://i.imgur.com/4nw9Otq.jpg');
    }
  </style>

</head>

<body>


  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="login-heading mb-4" style="text-align: center;">Crea tu cuenta</h1>
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= f.error_notification %>
                  <div class="row">
                    <div class="col-md-2"><%= f.label :email, "Email" %></div>
                    <div class="col-md-8"><%= f.input :email,
                    :class => 'form-control',
                    required: true,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2"><%= f.label :password, "Contraseña" %></div>
                    <div class="col-md-8">
                      <%= f.input :password,
                      :class => 'form-control',
                      required: true,
                      label: false,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"><%= f.label :password, "Confirmar Contraseña" %></div>
                    <div class="col-md-8">
                      <%= f.input :password_confirmation,
                      :class => 'form-control',
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" } %></div>
                  </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Registrarse</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    </div>
  </div>
</body>
